
		div#second-wrap{
			width: 40%;
			margin: 0 auto;
			--shd: 0.00px 1.00px 24px 4px rgba(0,0,0,0.07);
			--bg: 255,255,255;
		}
	
		div#third-wrap{
			width: 85%;
			margin: 0 auto;
			text-align: center;
		}
	
		p#first-p, #question-p1{
			color: #393939;
			font-size: 25px;
			font-weight: 550;
		}
	
		p#second-p{
			font-size: 15px;
			letter-spacing: -0.5px;
		}
		
		p#fourth-p{
			text-align: left;
		}
	
		p#fifth-p{
			font-size: 15px;
			letter-spacing: -0.5px;
			color: #757575;
			text-align: left;
		}
		
		p#third-p{
			text-align: left;
		}
		
	
		div#hr-tag{
			border-bottom: 1px solid #f4f4f4;
			width: 100%;
		}
		
		div#hr-tag2{
			border-bottom: 1px solid #f4f4f4;
			width: 600px;
		}

		input[type=text]#first-input, input[type=text]#second-input, input[type=text]#third-input, input[type=text]#fourth-input, input[type=text]#bonus-input {
			width: 100%;
			height: 50px;
			border: 0;
			border-bottom: 2.5px solid #8AAAE5;
			padding: 3px 3px 3px 14px;
		}
	
		input::placeholder{
			font-size: 15px;
			letter-spacing: -0.5px;
		}
	
		input[type=radio]:checked {
			width: 16px;
			height: 16px;
			color: #8AAAE5;
		}
	
		label.first-label{
			font-size: 20px;
			letter-spacing: -3.5px;
		}
	
		div.div-wrap{
			display: flex;
			justify-content: space-between;
		}
		
		textarea#content{
			width: 100%;
			resize: none;
			border: 1px solid #f6f6f6;
			border-radius: 5px;
		}
	
		div#final-div{
			text-align: left;
		}
	
		button#button-submit{
			height: 3.5rem;
			background: #8AAAE5;
			color: white;
			border-radius: 40px;
			padding: 0 2.5rem;
			border: none;
			font-weight: bold;
			width: 104%;
			font-size: 22px;
			letter-spacing: -0.5px;
		}

		p#question-p2, p#question-p3, p#question-p4, p#question-p5{
			font-size: 17px;
		}
		
		input:focus{
			outline: none;
		}

		textarea:focus{
			outline: none;
			background: #f6f6f6;
		}

		div#question-p1-wrap, div#question-p2-wrap, div#question-p3-wrap, div#question-p4-wrap, div#question-p5-wrap{
			position: relative;
		}

		button.img2{
			background-image: url("images/search.png");
	    	background-size: cover;
			background-color: white;
			position: absolute;
	    	border: none;
	    	width: 20px;
	    	height: 20px;
			top: 8.5px;
    		right: -60px;
		}

		button.img3{
			background-image: url("images/inquiryPlus.png");
	    	background-size: cover;
			background-color: white;
			position: absolute;
	    	border: none;
	    	width: 20px;
	    	height: 20px;
			top: 8.5px;
    		right: -17px;
		}
