
.wrapper {
	padding: 0 0 0 0 !important;
}

#change_info .content-wrapper .content {
	width: 100%;
	/* display: table-cell; */
	padding: 3rem;
	text-align: left;
	vertical-align: middle;
}
/* div {display: block;} */
#change_info .content-wrapper .content .info-form .gender-btn-wrapper .gender-btn
	{
	float: left;
	width: 50%;
	height: 3rem;
	background-color: #fff !important;
	box-shadow: 0 0 2px 1px #ddd;
	cursor: pointer;
	font-size: 1rem;
	line-height: 3;
}

input[type="checkbox"]:checked+label:before, input[type="radio"]:checked+label:before
	{
	background-color: #1187CF;
	border-color: #1187CF;
	color: #ffffff;
}

#change_info .content-wrapper .content .info-form .gender-btn-wrapper {
	text-align: center;
	margin-bottom: 1rem;
	overflow: hidden;
}

#change_info .content-wrapper .content .info-form .column-wrapper label
	{
	display: block;
	color: #1187CF;
	font-size: 1rem;
	margin-top: 1rem;
}

#change_info .content-wrapper .content .info-form .gender-btn-wrapper {
	text-align: center;
	margin-bottom: 1rem;
	overflow: hidden;
}

#change_info .content-wrapper .content .info-form .agreement-list .agreement .agreement-content .content
	{
	color: #808080;
	font-size: 13px;
	overflow: hidden;
	padding: 0rem;
}

#change_info .content-wrapper .content .info-form .agreement-list .agreement .privacy-btn
	{
	color: #1187CF;
	font-weight: 700;
}

#change_info .content-wrapper .content .info-form .update-btn {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	padding: 0 2rem;
	background-color: #1187CF;
	border: 0;
	/* border-radius: 0.5rem; */
	color: #FFF;
	font-size: 1.1rem;
	box-sizing: border-box;
	cursor: pointer;
}

#change_info .content-wrapper .content .info-form .gender-btn-wrapper .gender-input:checked+.gender-btn .btn-content .btn-icon .check
	{
	visibility: visible;
}

input[type="radio"]+label:before {
	border-radius: 100%;
	/*     margin-left: 5em;
    margin-top: 0.5em; */
	margin: 10px 0 0 10px;
	vertical-align: middle;
}

input[type="checkbox"]:checked+label:before, input[type="radio"]:checked+label:before
	{
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	color: #1187CF !important;
	border: 0.5px solid !important;
}

input[type="text"] {
	border: none !important;	
	background-color: #1187cf2b!important;
	border-radius: 0px !important;
	margin-top: 1rem;
}

input[type="password"] {
	border: none !important;
	background-color: #1187cf2b!important;
	border-radius: 0px !important;
	margin-top:1rem;
	width: 100%;
}

.inner {
	background-image:url('../../images/mypage01.jpg');
	background-color:#fff;
	 background-repeat : no-repeat;
	 background-size : cover;
	 margin-left:-10em;
	 text-align:center;  
	 height:400px; 
	 background-color:#ffffff;
	 position:relative;
}

a {
	text-decoration-line: none !important;
}

input[type="checkbox"]+label:before, input[type="radio"]+label:before {
	background: rgb(255 255 255/ 10%) !important;
	border-color: rgba(144, 144, 144, 0.3);
}

.navigation {
	display: flex;
	float: left;
	width: 100%;
	text-align: center !important;
	line-height: 4rem;
	color: #1187CF;
	background-color: #fff;
	font-weight: 600;
	height: 4rem;
	margin: 0 !important;
}

.agreement-list {
	font-size: 12px;
}

.navigation a {
	color: #1187CF;
	width: 50%;
}

.container {
	margin: 0 auto;
	/* width: 50%; */
}

.content-wrapper {
	/* width: 50%; */
	margin: 0 auto;
}

#leave-button {
	margin-top: 1rem;
	background-color: #D9D9D9 !important;
}

.agreement {
	font-size: 0.8rem !important;
	margin-top: -1em;
}

.agreement-content {
	/* margin-top:-5rem; */	
}

.notice {
	font-size: 0.8rem !important;
}

.my_check {
	font-size: 0.9rem;
}

.content-wrapper {
	width: 500px;
	/* width: 50%; */
	margin: 0 auto;
}

.navigation .menu-btn {
	box-shadow: inset 0 -3px 0 #1187CF !important;
	background-color: #FFF;
	color: #1187CF;
	font-weight: 600;
}

.navigation .menu-btn2 {
	background-color: #FFF;
	color: #1187CF;
	font-weight: 600;
}

.my_span01 {
	font-size: 3em;
}

.inner_ab {
	position: absolute;
	bottom: 10px;
	left: 208px;
	color: #fff;
}

.column-wrapper {
	/* 	width:50%; */
	display: flex;
	justify-content: flex-start;
	margin-top: -1rem;
}
.column-wrapper label{
    line-height: 48px;
}

.column-wrapper .col01 {
	margin-right: 3rem;
	width: 20%
}

.column-wrapper .col02 {
	margin-right: 3rem;
	width: 20%
}

.column-wrapper .active {
	margin-right: 3rem;
	width: 20%
}

.column-wrapper .col03 {
	margin-right: 3rem;
	width: 20%
}

.column-wrapper .col04 {
	/*  margin-right:1rem;   */
	width: 184px;
}

.column-wrapper.password {
	margin-bottom: 10px;
}

.gender-btn-wrapper {
	margin-left: 3rem;
	width: 70%;
}

.column-wrapper .col05 {	
	width: 184px;
}

.static {
	line-height: 80px;
	width: 70%;
	font-size: 15px;
	padding-left: 15px;
}

.user_name {
	width: 70%;
	font-size: 15px;
}

.user_phone {
	width: 70%;
	font-size: 15px;
}

.user_pw {
	width: 70%;
}

.user_newpw {
	width: 100%;
	/* margin-left: -13rem; */
}

.gender-input {
	width: 20%;
}

.user_pro {
	width: 100%;
}
/* .column-wrapper.email{
margin-top:-2rem;	
} */
/* .column-wrapper.name {
	margin-top: -1.5rem;
} */

.column-wrapper.phone {
	margin-top: -0.5rem;
}
/* .column-wrapper.name{
margin-top:-1.5rem;	
} */
.column-wrapper.current-password {
	margin-top: -2rem;
	margin-bottom: 1rem;
}



.column-wrapper.password {
	margin-top: -1rem;
}

.column-wrapper.profile {
	margin-top: -1rem;
	margin-bottom: 2rem;
}

div#navigation_wraper {
	width: 100%;
	height: 64px;
	margin: 0 auto;
}

#box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #edeff0;
    border-radius: 2px;
    box-shadow: 0px 0px 40px #0000001a;
    border-width: 0;
    width: 550px;
    height: 900px;
    margin: 40px auto;
    position: relative;
}