        @font-face {
		    font-family: 'GmarketSansBold';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}
		
		@font-face {
		    font-family: 'GmarketSansLight';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}
		
		@font-face {
		    font-family: 'GmarketSansMedium';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}
		
		body, input, select, textarea, button, pre {
			font-family: 'GmarketSansLight', Helvetica, Arial, sans-serif;
		}
		
		body{
			margin: 0;
		}
        
        article.noticeDetail-first-wrap div#hr-tag{
            border-bottom: 1px solid #f4f4f4;
            width: 100%;
        }
    
        article.noticeDetail-first-wrap div.second-wrap{
            width: 70%;
            margin: 0 auto;
          }
    
        article.noticeDetail-first-wrap div.third-wrap{
            text-align: left;
            margin-top: 190px;
          }
    
        article.noticeDetail-first-wrap p#first-p{
            font-weight: 600;
            text-align: left;
            font-size: 32px;
            margin-bottom: -10px;
        }
    
        article.noticeDetail-first-wrap p#second-p{
            font-size: 40px;
            font-weight: 700;
            margin-bottom: -10px;
    		margin-top: 0px;
        }
    
        article.noticeDetail-first-wrap #span-wrapper{
            padding: 2.5rem 2rem;
        }
    
        article.noticeDetail-first-wrap pre{
            font-size: 18.6px !important;
            margin: 0px 0 -2em 0 !important;
            line-height: 25px !important;
        }
        
        article.noticeDetail-first-wrap input#buttonBack{
                height: 2.5rem;
                background: white;
                color: black;
                border-radius: 40px;
                padding: 0 4.5rem;
                border: 1px solid black;
                font-size: 17px;
                letter-spacing: -0.5px;
                margin: 0 auto;
                line-height: 0px;
            }
    
        article.noticeDetail-first-wrap div#button-wrapper{
            text-align: center;
        }
        
        article.noticeDetail-first-wrap div.gradation-div-wrap{
        	position: relative;
        	top: -45px;
        }
        
        article.noticeDetail-first-wrap div.gradation-div{
			   background: linear-gradient(90deg, #1187cfa1 0%, #bceaff4d 100%);
			   width: 260px;
			   position: absolute;
			   top: 27px;
			   left: -1px;
			   height: 10px;
		}
		
		@media (max-width: 414px){
			article.noticeDetail-first-wrap div.gradation-div-wrap{
				left: 44px;
			}
			
			article.noticeDetail-first-wrap pre{
				white-space: pre-wrap;
				font-size: 15px !important;
			}
			
			article.noticeDetail-first-wrap #span-wrapper{
				padding: 0px 0px;
    			padding-top: 30px;
			}
			
			article.noticeDetail-first-wrap p#second-p{
				font-size: 25px;
			}
			
			article.noticeDetail-first-wrap p#first-p{
				font-size: 25px;
			}
			
			article.noticeDetail-first-wrap div.gradation-div{
				width: 202px;
				left: 0px;
				top: 20px;
			}
			
			article.noticeDetail-first-wrap div#button-wrapper{
				padding-bottom: 30px;
			}
			
		}