@font-face {
	font-family: 'GmarketSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, input, select, textarea, button, pre {
	font-family: 'GmarketSansLight', Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
}


article.noticeDetail-first-wrap div.second-wrap {
	width: 70%;
	margin: 0 auto;
}

article.noticeDetail-first-wrap div.third-wrap {
	text-align: left;
	margin-top: 190px;
	margin-bottom: 100px;
}

article.noticeDetail-first-wrap p#first-p {
	font-weight: 600;
	text-align: left;
	font-size: 32px;
	margin-bottom: 10px;
}

article.noticeDetail-first-wrap p#second-p {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 0px;
	border-bottom: 1px solid #dddd;
}

pre{
	font-size: 1.1rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

article.noticeDetail-first-wrap div#content-wrapper{
	min-height: 122px;
}

article.noticeDetail-first-wrap input.btns {
height: 2.5rem;
    background: white;
    color: black;
    padding: 0px 2.5rem;
    border: 1px solid black;
    font-size: 17px;
    letter-spacing: -0.5px;
    margin: 0 auto;
    line-height: 0px;
    cursor: pointer;
}
article.noticeDetail-first-wrap input#buttonBack {
	background:#1187cf;;
	color: white;
	border: none;
}



article.noticeDetail-first-wrap div#button-wrapper {
	text-align: right;
}

article.noticeDetail-first-wrap div.gradation-div-wrap {
	position: relative;
}

article.noticeDetail-first-wrap div.gradation-div {
	background: linear-gradient(90deg, #1187cfa1 0%, #bceaff4d 100%);
	width: 260px;
	position: absolute;
	top: 27px;
	left: -1px;
	height: 10px;
}

@media ( max-width : 414px) {
	article.noticeDetail-first-wrap div.gradation-div-wrap {
		left: 44px;
	}
	article.noticeDetail-first-wrap pre {
		white-space: pre-wrap;
		font-size: 15px !important;
	}
	article.noticeDetail-first-wrap #span-wrapper {
		padding: 0px 0px;
		padding-top: 30px;
	}
	article.noticeDetail-first-wrap p#second-p {
		font-size: 25px;
	}
	article.noticeDetail-first-wrap p#first-p {
		font-size: 25px;
	}
	article.noticeDetail-first-wrap div.gradation-div {
		width: 202px;
		left: 0px;
		top: 20px;
	}
	article.noticeDetail-first-wrap div#button-wrapper {
		padding-bottom: 30px;
	}
}